<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="BifrostConnection" connectionString="server=localhost;Database=bifrost;User Id=sa;Password=Admin666"/>
  </connectionStrings>
  
  <appSettings>
    <add key="DestroyBifrostDatabase" value="false"/>
    <add key="AutomaticallyCreateDatabase" value="true"/>
    <add key ="AllowedCorsOriginsCsv" value="*"/>
  </appSettings>
    
</configuration>