<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TestConnection" connectionString="http://blog.cwa.me.uk" providerName="System.Data.Sql"/>
  </connectionStrings>
  
  <appSettings>
    <add key="test" value="testvalue"></add>
    <add key="ImportantString" value="Kite4life" />
    <add key="ImportantDate" value="1984-10-06 00:00:00"></add>
    <add key="ImportantInt" value="10" />
    <add key="ImportantFloat" value="0.1" />
  </appSettings>
    
</configuration>