<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TikaServerUrl" connectionString="http://localhost:9998"/>
    <add name="BifrostConnection" connectionString="server=localhost;Database=bifrost;User Id=sa;Password=Admin666"/>
  </connectionStrings>
  
  <appSettings>
    <add key="TikaTimeoutMs" value="101000"></add>
    <add key="DestroyAsgardDatabase" value="false"/>
    <add key="FileSystemDirectory" value="data"/>

    <add key="SolrUpdateUrl" value="http://localhost:8081"/>
    <add key="SolrPingUrl" value=""/>
    <add key="SolrIncludeCommit" value="true"/>

    <add key="AutomaticallyCreateDatabase" value="true"/>
    
  </appSettings>
    
</configuration>