<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TikaServerUrl" connectionString="http://localhost:9998"/>
    <add name="BifrostConnection" connectionString="server=localhost;Database=bifrost_test;User Id=sa;Password=Admin666"/>
    <add name="TestSqlDatabaseConnection" connectionString="server=localhost;Database=bifrost_test;User Id=sa;Password=Admin666"/>

  </connectionStrings>
  
  <appSettings>
    <add key="TikaTimeoutMs" value="101000"></add>
    <add key="DestroyAsgardDatabase" value="false"/>

    <add key="AsgardTimeoutMS" value="3000"/>
    <add key="AsgardApiUrl" value="http://localhost:1336"/>
    <add key="AsgardClientApiKey" value="Kite4Life"/>
    
    <add key="SolrUpdateUrl" value="http://localhost:8081/solr/gettingstarted/update"/>
    <add key="SolrPingUrl" value="http://localhost:8081/solr/gettingstarted/admin/ping"/>
    <add key="SolrIncludeCommit" value="true"/>
  </appSettings>
    
</configuration>