<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TikaServerUrl" connectionString="http://localhost:9998"/>
    <add name="CommonConnection" connectionString="server=localhost;Database=Asgard;User Id=sa;Password=Admin666"/>
  </connectionStrings>
  
  <appSettings>
    <add key="TikaTimeoutMs" value="101000"></add>
    <add key="DestroyCommonDatabase" value="false"/>
    <add key="AutomaticallyCreateDatabase" value="true"/>
  </appSettings>
    
</configuration>